<section class="client section">
    <uib-tabset active="selected_tab" id="tabsetSessions">
        <uib-tab ng-click="onAdd()">
            <uib-tab-heading>
                <a href=""><i class="fa fa-plus-square fa-lg"></i></a>
            </uib-tab-heading>
        </uib-tab>
        <uib-tab ng-repeat="session in user.settings.clients" ng-click="onSelectTab($index)">
            <uib-tab-heading>
                <a href="" id="hrefConnectDisconnect" ng-click="onConnect(session)"><i class="fa fa-toggle-off" ng-show="!session.isconnected" title="Connect" /></a>
                <a href="" id="hrefConnectDisconnect" ng-click="onDisconnect(session)"><i class="fa fa-toggle-on" ng-show="session.isconnected" title="Disconnect" /></a>
                <span>{{session.name}}</span>
                <a id="hrefSessionMenu" class="dropdown-toggle" data-toggle="dropdown" href="" role="button" aria-haspopup="true" aria-expanded="false" ng-show="session.isconnected == false"><span class="caret"></span></a>
                <ul class="dropdown-menu">
                <li><a href="" ng-click="onEdit(session)"><i class="fa fa-pencil-square-o fa-fw" /> Edit</a></li>
                <li><a href="" ng-click="onRemove($index)"><i class="fa fa-times fa-fw" /> Delete</a></li>
                </ul>
            </uib-tab-heading>
            <ng-session-panel data="session"></ng-session-panel>
        </uib-tab>
    </uib-tabset>
</section>
