<section class="promo section offset-header">
    <div class="container text-center">
        <h2 class="title"><span class="highlight">FIX</span>Centre</h2>
        <p class="intro">A uniformed solution to simulator FIX client and servers to help testing FIX protocol applications</p>
        <ul class="meta list-inline">
            <li><a href="https://github.com/slixin/fixcenter" target="_blank">View on GitHub</a></li>
            <li><a href="https://github.com/slixin/fixcenter" target="_blank">Full Documentation</a></li>
        </ul>
    </div>
</section>
<section id="about" class="about section">
    <div class="container">
        <h2 class="title text-center">What is FIX Centre?</h2>
        <p class="intro text-center">The Financial Information eXchange (FIX) protocol is an electronic communications protocol initiated in 1992 for international real-time exchange of information related to the securities transactions and markets. FIX Centre is designed for developers and testers to simulating the FIX Client application and FIX Server for verifying their FIX products.</p>
        <div class="row">
            <div class="item col-md-4 col-sm-6 col-xs-12">
                <div class="icon-holder">
                    <i class="fa fa-heart"></i>
                </div>
                <div class="content">
                    <h3 class="sub-title">Humanity Design</h3>
                    <p>Not like other FIX tool, it shows less but important information to user.</p>
                </div><!--//content-->
            </div><!--//item-->
            <div class="item col-md-4 col-sm-6 col-xs-12">
                <div class="icon-holder">
                    <i class="fa fa-clock-o"></i>
                </div>
                <div class="content">
                    <h3 class="sub-title">Time savers</h3>
                    <p>FIX Centre not only support single message sending, but supports bulk mode, you can generate data in your work.</p>
                </div><!--//content-->
            </div><!--//item-->
            <div class="item col-md-4 col-sm-6 col-xs-12">
                <div class="icon-holder">
                    <i class="fa fa-crosshairs"></i>
                </div>
                <div class="content">
                    <h3 class="sub-title">FIX Targeted</h3>
                    <p>It supports multiple FIX protocol versions: 4.1, 4.2, 4.3, 4.4 and 5.0, easy to find out the FIX tag definition.</p>
                </div><!--//content-->
            </div><!--//item-->
            <div class="clearfix visible-md"></div>
            <div class="item col-md-4 col-sm-6 col-xs-12">
                <div class="icon-holder">
                    <i class="fa fa-tablet"></i>
                </div>
                <div class="content">
                    <h3 class="sub-title">Mobile supported</h3>
                    <p>FIX Centre is designed by bootstrap and AngularJS, it naturely supports Mobile device, you can use it anywhere.</p>
                </div><!--//content-->
            </div><!--//item-->
            <div class="item col-md-4 col-sm-6 col-xs-12">
                <div class="icon-holder">
                    <i class="fa fa-code"></i>
                </div>
                <div class="content">
                    <h3 class="sub-title">LESS skill required</h3>
                    <p>Less technical skill required for user.</p>
                </div><!--//content-->
            </div><!--//item-->
            <div class="item col-md-4 col-sm-6 col-xs-12">
                <div class="icon-holder">
                    <i class="fa fa-coffee"></i>
                </div>
                <div class="content">
                    <h3 class="sub-title">Automatic</h3>
                    <p>FIX Centre is Restful API based, it is easy to automatic your extension or scripts. More detail please refer to Help document</p>
                </div><!--//content-->
            </div><!--//item-->
        </div><!--//row-->
    </div><!--//container-->
</section>
<section id="features" class="features section">
    <div class="container text-center">
        <h2 class="title">Features</h2>
        <ul class="feature-list list-unstyled">
            <li><i class="fa fa-check"></i> Web based the only requirement is a browser.</li>
            <li><i class="fa fa-check"></i> Support multiple users</li>
            <li><i class="fa fa-check"></i> Support customized templates</li>
            <li><i class="fa fa-check"></i> Support random values</li>
            <li><i class="fa fa-check"></i> Support message reply</li>
            <li><i class="fa fa-check"></i> Support bulking mode</li>
            <li><i class="fa fa-check"></i> Support Restful API</li>
        </ul>
    </div><!--//container-->
</section>
<section id="docs" class="docs section">
    <div class="container">
        <div class="docs-inner">
            <h2 class="title text-center">Get Started</h2>
            <div class="block">
                <h3 class="sub-title text-center">How to enter FIX message</h3>
                <p>FIX Centre use <b>JSON</b> format data as FIX message format</p>
                <p>There are 4 ways to enter the FIX messages: Tree / Form / Code / Text</p>
                <p>Even you have no idea of JSON format, you can use Tree or Form mode to edit your message.</p>
                <p><img src="images/help/h1.png"></p>
            </div>
            <div class="block">
                <h3 class="sub-title text-center">Repeating group</h3>
                <p>When you are going to create some FIX message includes <b>multiple-leg</b> or <b>repeating group</b></p>
                <p>You can use <b>{ value: xxx, groups: [{},{}]}</b> in the JSON message.</p>
                <p><img src="images/help/h2.png"></p>
                <p><img src="images/help/h3.png"></p>
            </div>
            <div class="block">
                <h3 class="sub-title text-center">Sequential message</h3>
                <p>When you are going to sending bulk message with some sequential messages, for example: Create order, then amend it, then cancel it.</p>
                <p>You can enter the array of JSON messages.</p>
                <p><img src="images/help/h4.png"></p>
            </div>
            <div class="block">
                <h3 class="sub-title text-center">Value placeholder</h3>
                <p>There are 2 scenarios you'd like to replace the value in the FIX message template to other value. <ul><li>Response a message, i.e. Cancel a create OK order</li><li>Enter a sequential messages, i.e. Create order, then Amend it</li></ul></p>
                <p>You can use "<b>:[tag number]</b>" in the tag value of the template.</p>
                <p><img src="images/help/h5.png"></p>
            </div>
            <div class="block">
                <h3 class="sub-title text-center">Random value for tag</h3>
                <p>Sometimes, you'd like to use some random pick value for some tag, for example: BuySellSide (54), Price (44)</p>
                <p>You can use array in the JSON directly, it will randomly pick one value in the array</p>
                <p><img src="images/help/h6.png"></p>
                <p><img src="images/help/h7.png"></p>
            </div>
        </div>
    </div>
</section>
