<div class="container-fluid">
  <div class="row">
    <div class="col-md-5">
      <div class="row withpad">
        <uib-tabset active="selected_tab">
            <uib-tab id="tabMessage" index="0" heading="Message">
              <div class="container-fluid">
                <div class="row">
                  <div id="divSelMode" class="form-group">
                    <label for="selMode">MODE</label>
                    <select id="selMode" class="form-control" ng-options="option.name for option in message_modes" ng-model="message.mode" ng-init="message.mode = message_modes[0]" ></select>
                  </div>
                  <div class="form-group" ng-show="message.mode.value == 2">
                    <label for="inpAmount">AMOUNT</label>
                    <input id="txtAmount" type="text" class="form-control" ng-model="message.amount" onkeypress='return event.charCode >= 48 && event.charCode <= 57' ng-disabled="message.mode.value == 1" placeholder="Amount" />
                  </div>
                  <div class="form-group" ng-show="message.mode.value == 2">
                    <label for="txtTps">TPS</label>
                    <input id="txtTps"  type="text" class="form-control" ng-model="message.tps" ng-disabled="message.mode.value == 1"onkeypress='return event.charCode >= 48 && event.charCode <= 57' placeholder="TPS" />
                  </div>
                </div>
                <div class="row">
                  <form class="form-inline" role="form" style="text-align: left;">
                    <button id="btnSend" type="button" class="btn btn-success" ng-click="onStart()"  ng-disabled="message.text.length == 0 || message.text == undefined || message.progress_percentage > 0 || session.isconnected == false" title="Send Message"><i class="fa fa-play"></i> Send </button>
                    <button id="btnStop" type="button" class="btn btn-default" ng-click="onStop()" title="Stop Sending" ng-disabled="message.progress_percentage == 0"><i class="fa fa-stop"></i> Stop </button>
                    <button id="btnSave" type="button" class="btn btn-default" ng-click="onSaveTemplate()" title="Save Template" ng-disabled="message.progress_percentage > 0"><i class="fa fa-floppy-o"></i> Save </button>
                    <button id="btnEditorHelp" type="button" class="btn btn-default" ng-click="onEditorHelper()" title="Editor Helper"><i class="fa fa-yelp"></i> Helper </button>
                  </form>
                </div>
                <div class="row">
                  <div id="editor" ng-jsoneditor ng-model="message.text" options="jsoneditor_options" style="width: 100%; height: 500px; text-align: left;"></div>
                </div>
              </div>
            </uib-tab>
            <uib-tab id="tabTemplates" index="1" heading="Templates">
              <div class="container-fluid">
                <div class="row">
                  <ul class="list-group">
                    <li class="list-group-item"><input type="text" placeholder="Search Template" ng-model="keyword_template"/></li>
                    <li class="list-group-item {{template.active}}" ng-repeat="template in templates | filter:keyword_template"><a href="" ng-click="onDeleteTemplate(template)" style="float:left;"><i class="fa fa fa-times" title="Delete"></i></a><span title="{{template.name}}">{{template.name.length > 40 ? template.name.substring(0,40) + '...' : template.name}}</span> <a href="" ng-click="onApplyTemplate(template)" style="float:right;"><i class="fa fa-chevron-circle-right" title="Use template" ng-click="selected_tab=1"></i></a></li>
                  </ul>
                </div>
              </div>
            </uib-tab>
            <uib-tab id="tabFields" index="2" heading="FIX Fields">
               <ul class="list-group">
                  <li class="list-group-item"><input type="text" placeholder="Search Tag Number" ng-model="search.field"/>
                  <li class="list-group-item" ng-repeat="field in protocol.message_fields | filter:search:true">
                    <div class="panel panel-default">
                      <div class="panel-heading">{{field.name}} - {{field.field}}</div>
                      <div class="panel-body" ng-show="field.values.length > 0">
                        <ul class="list-group">
                          <li class="list-group-item"><input type="text" placeholder="Search Value" ng-model="searchv.name"/></li>
                          <li class="list-group-item" ng-repeat="value in field.values | filter:searchv">
                            {{value.name}} - {{value.value}}
                          </li>
                        </ul>
                      </div>
                    </div>
                  </li>
                </ul>
            </uib-tab>
        </uib-tabset>
      </div>
    </div>
    <div class="col-md-7">
      <div class="row" ng-show="message.progress_percentage > 0">
        <span ng-show="message.progress_percentage > 0"><i class="fa fa-exclamation-triangle"></i> Bulking messages will not be displayed here.</span>
        <div class="progress">
          <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="{{message.progress_percentage}}" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width:{{message.progress_percentage}}%">{{message.progress_percentage}}% ({{message.processed}}/{{message.amount}})</div>
        </div>
      </div>
      <div class="row">
        <div class="container-fluid">
          <form class="form-inline" role="form" style="text-align: left;">
            <button id="btnPurge" type="button" class="btn btn-default" ng-click="onClean()" title="Purge Messages" ng-disabled="session_messages.length==0"><i class="fa fa-trash"></i> Purge </button>
            <button id="btnViewer" type="button" class="btn btn-default" ng-click="onMessageViewer()" title="Message timeline" ng-disabled="session_messages.length==0"><i class="fa fa-bar-chart"></i> Viewer</button>
          </form>
        </div>
      </div>
      <div class="row" ng-show="session_messages.length > 0">
        <table st-table="displayedCollection" st-safe-src="session_messages" class="table table-striped table-bordered  table-hover">
              <thead>
                <tr>
                  <th></th>
                  <th></th>
                  <th><input st-search placeholder="global search" class="input-sm form-control" type="search"/></th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="row in displayedCollection" st-select-row="row" st-select-mode="single">
                  <td class="{{row.direction_bgcolor}}"><div class="timeline-badge"><i class="{{row.direction_icon}}"  title="{{row.direction_title}}"></i></div></td>
                  <td>{{row.message_time}}</td>
                  <td><span title="{{row.message}}">{{row.message_display}}</span></td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="4" class="text-center">
                    <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="50"></div>
                  </td>
                </tr>
              </tfoot>
            </table>
      </div>
    </div>
  </div>
</div>

